<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact</title>

<link rel="stylesheet" href="/css/style.css">
<style>

form{
max-width:700px;
margin:50px auto;
display:flex;
flex-direction:column;
gap:20px;
padding:40px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
border-radius:20px;
}

input,
textarea{

padding:15px;
border:none;
outline:none;
border-radius:10px;
font-size:18px;
}
textarea{
height:180px;
resize:none;
}

</style>

</head>
<body>

<nav>

<div class="logo">ExpressJS</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/about">About</a></li>

<li><a href="/services">Services</a></li>

<li><a href="/gallery">Gallery</a></li>

<li><a href="/contact">Contact</a></li>

</ul>

</nav>