<!DOCTYPE html>
<html>

<head>

<title>Express Website</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>

<nav>

<div class="logo">
ExpressJS
</div>
<ul>

<li><a href="/">Home</a></li>

<li><a href="/about">About</a></li>

<li><a href="/services">Services</a></li>

<li><a href="/gallery">Gallery</a></li>

<li><a href="/contact">Contact</a></li>

</ul>
</nav>
<section class="hero">

<h1>Advanced Express Website</h1>

<p>

Modern Express.js Website with HTML CSS JavaScript Routing.

</p>
<div class="btn-group">

<button onclick="go('/about')">
About
</button>

<button onclick="go('/services')">
Services
</button>

<button onclick="go('/gallery')">
Gallery
</button>

<button onclick="go('/contact')">
Contact
</button>

<button onclick="toggleTheme()">
Dark Mode
</button>

</div>

</section>