*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}
body{
background:linear-gradient(135deg,#0f172a,#2563eb,#9333ea);
color:white;
min-height:100vh;
transition:.5s;
}

.dark{
background:#111827;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:sticky;
top:0;
backdrop-filter:blur(20px);
background:rgba(255,255,255,.08);
}.logo{
font-size:30px;
font-weight:bold;
}

ul{
display:flex;
gap:25px;
list-style:none;
}
a{
text-decoration:none;
color:white;
transition:.3s;
}

a:hover{
color:#38bdf8;
}
.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}
.hero p{
max-width:700px;
font-size:18px;
line-height:1.8;
}

.btn-group{
margin-top:35px;
display:flex;
gap:20px;
flex-wrap:wrap;
}
